 body{
    font-family: Arial, Helvetica, sans-serif;
} 
.head{
    text-align: center;
    padding-top: 5px;
    background-color: #ADFF2F;
    height: 100px;
    border-radius: 5px;
    border:1px solid #FAFAD2;
}
 .head h2{
    font-family: 幼圆;
}
.para p{
    font-size: 10px;
    text-align: left;
    line-height: 12px;
    font-family: 幼圆, 宋体;
}
#mainContent{
    height: 180px;
    text-align: center;
    border-radius: 3px;
    border:1px solid #CDCD00;
    background-color: rgb(108, 216, 81);
}
#mainContent h1,h2{
    text-align: center;
    font-family: 华文行楷,微软雅黑; 
}
#mainContent h1{
    color: #00EEEE;
}
#mainContent h2{
    color: #BF3EFF;
}
section a{
    font-size: 20px;
    font-family: 宋体;
}
#but{
    height: 35px;
    width: 80px;
    color: #7D26CD;
    background-color: white;
    border-radius: 3px;
}
.userMessage{
    border: 2px solid #BCEE68;
}
.userMessage ul div{
    float:left;
    clear:both;
     background-color:#BCEE68;  
}
footer{
    padding: 5px;
    border-radius: 2px;
    clear: both;
    text-align: center;
    border: 2px solid #CDCD00;
    height: 60px;
    background-color: #EE7600;
}
a{
    text-decoration: none;
}
